<div class="container">  
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <img class="navbar-brand" src="assets/logo.png" href="#" />
      </div>
      <ul class="nav navbar-nav navbar-right mt3 mr5">
        <li>
          <div class="brd-nav">
            <div class="pull-left dinline pr10">
              Total isp: 09
            </div>
            <div class="dinline">|</div>
            <div class="pull-right dinline pl10">
              Asp Hits: 09
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <app-isp></app-isp>
</div>